<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <table align="center" width="602" align="center" 
      style="font-family: Verdana, Geneva, sans-serif; 
      border-radius:7px; font-size: 12px" cellspacing="0" cellpading="0">
      <tbody>
        <td align="left" style="background-color:#ffcc00; 
            border-top-style:solid; border-top-width: 1px; border-top-color: #C8C8C8;
            border-left-style:solid; border-left-width: 1px; border-left-color: #C8C8C8;
            border-right-style:solid; border-right-width: 1px; border-right-color: #C8C8C8" valign="bottom" height="9px;">
            <%= image_tag "logo2.png", :style => "margin-left:17px",
              :width => "130px", :height => "40px"%>
          </td>
        </tr>
        <tr>
          <td align="left" style="border:solid 1px #C8C8C8; padding:20px;">
           <p>
             Dear <%= @name.present? ? @name :  "{name}" %>,<br/>
            </p>
            <p>
              Thank you for interest in joining our company. After having a close
              look at your resume, we would like to meet you to find more
              about you as our software engineer candidate.<br/>
            </p>
            <p>
              We invite you to our office to have interview and competency test with
              HRD team at:
              <br/>
              Day  : <%= @day.present? ? @day : "{day}" %>
              <br/>
              Date : <%= @date.present? ? @date : "{date}" %>
              <br/>
              Time : <%= @time.present? ? @time : "{time}"%>
              <br/>
              Address : <%= @address.present? ? @address : "{address}"%>
              <br/>
            </p>
            <p>
              We look forward to meeting you in person. Please reply to this email
              to confirm your attendance at the interview. If you require any
              special arrangements for the interview schedule, please let us know.<br/>
              <p/>
            <p>
              Don't forget to bring your resume and other supporting docs.
              Thank you.
            </p>
          </td>
        </tr>
        <tr>
          <td align="left" style="background-color:#2a2a2a; 
            border-bottom-style:solid; border-bottom-width: 1px; border-bottom-color: #C8C8C8;
            border-left-style:solid; border-left-width: 1px; border-left-color: #C8C8C8;
            border-right-style:solid; border-right-width: 1px; border-right-color: #C8C8C8" 
            valign="top" height="25px;">
          </td>
        </tr>      </tbody>
    </table>
  </body>
</html>
