<div class="container main-container">
  <div class="row">
    <div class="span6">
      <div class="wbody">
      <%= form_tag("/send_email", method: "get") do %>
        <fieldset>
          <%= label_tag(:subject) %>
          <%= text_field_tag(:subject) %>
        </fieldset>

        <fieldset>
          <%= label_tag(:to) %>
          <%= text_field_tag(:to) %>
        </fieldset>

        <fieldset>
          <%= submit_tag "send", class: 'btn btn-primary' %>
        </fieldset>
      <% end %>
      </div>
    </div>
  </div>
</div>

