<div class="whead">
  <%= image_tag "logo.png" %>
</div>

<div class="wbody">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <fieldset>
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true %>
    </fieldset>
    <fieldset>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </fieldset>
    <fieldset>
      <%= f.submit "Sign in", class: 'btn btn-primary' %>
    </fieldset>
  </div>
  <% end %>
</div>

