<!DOCTYPE html>
<html>
<head>
  <title>Emailapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script type="text/javascript" >
    create_taghtml5();
  </script>
  <![endif]-->
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="span4 offset3">
        <div class="box">
          <%=  flash_message %>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
